# Compiled Object files
*.slo
*.lo
*.o
*.obj

#binaries
/bin
src/vectordatapreproc/VecDataPreproc
src/stochastic/lhsvol
src/stochastic/lhstitanstats
src/stochastic/lhsbed
src/stochastic/gentitanteststats
src/preproc/titan_preprocess
src/preproc/titan_materialnames
src/main/titan

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.orig
